  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ . | markdownify }}</div>
  <div class="copyright"><span>京ICP备19023380号</span>    
  <img src="/images/备案图标.png" 
  style="width:20px;height:20px;padding:0px;margin: 0px 0px 6px 15px;vertical-align:middle;"/>
  <span>京公网安备11010802028916号</span></div>
  {{ end }}
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
